# Column Manipulation of Pandas DataFrames

### 1. Import libraries and dependencies

In [20]:
# Import pandas, pathlib, and numpy libraries
import pandas as pd
from pathlib import Path
import numpy as np
%matiplotlib inline

UsageError: Line magic function `%matiplotlib` not found.

### 2. Create a Path to the File Using Pathlib

In [2]:
# Use the Pathlib libary to set the path to the CSV
csv_path = Path("../Resources/people.csv")

### 3. Read the CSV into a Pandas DataFrame and Display a Few Rows

In [4]:
# Use the file path to read the CSV into a DataFrame and display a few rows
csv_file = pd.read_csv(csv_path)
csv_file

,id,first_name,last_name,email,gender,uni_grad,job_title,Income
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0
...,...,...,...,...,...,...,...,...
995,996.0,Meta,Crumpton,mcrumptonrn@qq.com,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0
996,997.0,Gunar,Gilford,ggilfordro@yandex.ru,Male,Smolny University,Marketing Manager,76109.0
997,998.0,Lucretia,Gurling,lgurlingrp@de.vu,Female,Institut Teknologi Telkom,Software Engineer III,92115.0
998,999.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0
999,1000.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0

### 4. View Columns Names

In [6]:
# Use the `columns` attribute to output the column names
csv_file.columns

Index(['id', 'first_name', 'last_name', 'email', 'gender', 'uni_grad',
       'job_title', 'Income'],
      dtype='object')

### 5. View Column Data Types

In [8]:
# Use the `dtypes` attribute to output the column names and data types
csv_file.dtypes

id            float64
first_name     object
last_name      object
email          object
gender         object
uni_grad       object
job_title      object
Income        float64
dtype: object

### 6. Rename Columns Using List

In [9]:
# Set the `columns` attribute to a new list of column names
columns = [["Person_ID", "First_Name", "Last_Name", "Email", "Gender", "University", "Occupation", "Salary"]]
csv_file.columns = columns
csv_file

,Person_ID,First_Name,Last_Name,Email,Gender,University,Occupation,Salary
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0
...,...,...,...,...,...,...,...,...
995,996.0,Meta,Crumpton,mcrumptonrn@qq.com,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0
996,997.0,Gunar,Gilford,ggilfordro@yandex.ru,Male,Smolny University,Marketing Manager,76109.0
997,998.0,Lucretia,Gurling,lgurlingrp@de.vu,Female,Institut Teknologi Telkom,Software Engineer III,92115.0
998,999.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0
999,1000.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0

### 7. Rename Columns Using Dictionary

In [17]:
# Use the `rename` function and set the `columns` parameter to a dictionary of new column names
names = { "id": "Person_ID",
    "first_name": "First_Name",
    "last_name": "Last_Name", 
    "email": "Email",
    "gender": "Gender",
    "uni_grad": "University",
    "job_title": "Occupation",
    "klir": "Salary"}

csv_file = csv_file.rename(columns = names)
csv_file

,Person_ID,First_Name,Last_Name,Email,Gender,University,Occupation,Salary
0,1.0,Keriann,Lenormand,klenormand0@businessinsider.com,Female,Aurora University,Nurse Practicioner,58135.0
1,2.0,Huntley,Rupke,hrupke1@reuters.com,Male,Osaka University of Economics,Project Manager,96053.0
2,3.0,Gorden,Dalgarnowch,gdalgarnowch2@microsoft.com,Male,Ludong University,Environmental Tech,59196.0
3,4.0,Cullie,NaN,cputten3@nymag.com,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0
4,5.0,Ariel,Strangman,astrangman4@bravesites.com,Female,Boise State University,Project Manager,89073.0
...,...,...,...,...,...,...,...,...
995,996.0,Meta,Crumpton,mcrumptonrn@qq.com,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0
996,997.0,Gunar,Gilford,ggilfordro@yandex.ru,Male,Smolny University,Marketing Manager,76109.0
997,998.0,Lucretia,Gurling,lgurlingrp@de.vu,Female,Institut Teknologi Telkom,Software Engineer III,92115.0
998,999.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0
999,1000.0,Andrew,Yang,ayang@codedrills.com,Male,Rutgers University School of Business,Curriculum Engineer,60000.0

### 8. Re-order Columns

In [19]:
# Use a list of re-ordered column names to alter the column order of the original DataFrame
csv_file = csv_file[["Person_ID", "Last_Name", "First_Name", "Gender", "University", "Occupation", "Salary", "Email"]]
csv_file

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email
0,1.0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com
1,2.0,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com
2,3.0,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com
3,4.0,NaN,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com
4,5.0,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com
...,...,...,...,...,...,...,...,...
995,996.0,Crumpton,Meta,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0,mcrumptonrn@qq.com
996,997.0,Gilford,Gunar,Male,Smolny University,Marketing Manager,76109.0,ggilfordro@yandex.ru
997,998.0,Gurling,Lucretia,Female,Institut Teknologi Telkom,Software Engineer III,92115.0,lgurlingrp@de.vu
998,999.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com
999,1000.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com

### 9. Create Additional Column

In [21]:
# Use the `randint` function to randomly generate an `Age` from 22 to 65 for 1000 rows
csv_file["Age"] = np.random.randint(low=22, high=65, size=1000)
csv_file["Age_Copy"] = np.random.randint(low=22, high=65, size=1000)
csv_file

/Users/hakobkeymetlyan/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/hakobkeymetlyan/opt/anaconda3/envs/dev/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age,Age_Copy
0,1.0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,26,24
1,2.0,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,43,51
2,3.0,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,37,44
3,4.0,NaN,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,45,40
4,5.0,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,27,62
...,...,...,...,...,...,...,...,...,...,...
995,996.0,Crumpton,Meta,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0,mcrumptonrn@qq.com,39,37
996,997.0,Gilford,Gunar,Male,Smolny University,Marketing Manager,76109.0,ggilfordro@yandex.ru,51,42
997,998.0,Gurling,Lucretia,Female,Institut Teknologi Telkom,Software Engineer III,92115.0,lgurlingrp@de.vu,33,23
998,999.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com,22,32
999,1000.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com,39,59

### 10. Delete Columns

In [23]:
# Use the `drop` function to delete the newly created `Age` column
csv_file = csv_file.drop(columns = ["Age_Copy"])
csv_file

/Users/hakobkeymetlyan/opt/anaconda3/envs/dev/lib/python3.7/site-packages/pandas/core/generic.py:4150: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

,Person_ID,Last_Name,First_Name,Gender,University,Occupation,Salary,Email,Age
0,1.0,Lenormand,Keriann,Female,Aurora University,Nurse Practicioner,58135.0,klenormand0@businessinsider.com,26
1,2.0,Rupke,Huntley,Male,Osaka University of Economics,Project Manager,96053.0,hrupke1@reuters.com,43
2,3.0,Dalgarnowch,Gorden,Male,Ludong University,Environmental Tech,59196.0,gdalgarnowch2@microsoft.com,37
3,4.0,NaN,Cullie,Male,Université des Sciences et de la Technologie d...,Legal Assistant,88493.0,cputten3@nymag.com,45
4,5.0,Strangman,Ariel,Female,Boise State University,Project Manager,89073.0,astrangman4@bravesites.com,27
...,...,...,...,...,...,...,...,...,...
995,996.0,Crumpton,Meta,Female,ECAM - Institut Supérieur Industriel,Registered Nurse,57060.0,mcrumptonrn@qq.com,39
996,997.0,Gilford,Gunar,Male,Smolny University,Marketing Manager,76109.0,ggilfordro@yandex.ru,51
997,998.0,Gurling,Lucretia,Female,Institut Teknologi Telkom,Software Engineer III,92115.0,lgurlingrp@de.vu,33
998,999.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com,22
999,1000.0,Yang,Andrew,Male,Rutgers University School of Business,Curriculum Engineer,60000.0,ayang@codedrills.com,39

### 11. Save Modified DataFrame to New CSV

In [11]:
# Save the DataFrame to the `Resources` folder
csv_file.to_csv("../Resources/people_reordered.csv")